*{
    margin: 0;
    padding: 0;
} 
:root{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
body{
    background-color: #F5F4F0;
    box-sizing: border-box;
    width: 1120px;
    height: 3054px;
    margin: 88px 80px;
}
#titlepage{
    margin-bottom: 40px;
}
/* Estilizando a headline */
#headline{
    color: #E1624F;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}
h1{
    margin-top: 8px;
    font-size: 36px;
}
h2{
    font-size: 32px;
    text-align: left;
    margin-bottom: 8px;
}
h3{
    margin-left: 5px;
    font-size: 28px;
}
/* Transformando o parágrafo após a imagem em itálico */
#busan img + p{
    width: 1120px;
    margin-top: 24px;
    font-style: italic;
    text-align: center;
}
#busan{
    margin-bottom: 40px;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}
#titlelist{
    margin-top: 64px;
    margin-bottom: 64px;
}
/* Caracterizando a fonte das frases de abertura das seções */
p{
    color: #333;
}
/* Para cada <section> dento do #cardtravel, adiciona um margin */
#cardtravel section{
    margin-bottom: 48px;
}
#cardtravel h3{
    margin-top: 20px;
}
h3 p{
    margin-top: 4px;
}
ul li {
    margin-left: 25px;
    color: #0c51a7;
    font-weight: bold;
}
li::marker{
    color: #333333;
}
.casais {
  color: purple;
  font-weight: bold;
}

.familia {
  color: deeppink;
  font-weight: bold;
}

.orcamento {
  color: darkorange;
  font-weight: bold;
}

.description{
    text-align: center;
    margin-top: 40px;
}

footer{
    margin-top: 60px;
    text-align: center;
}
